mixin color(color)
  a.color.fx.fxc.aic.jcc.pb2.pi1(
    href=color.url
    style=`background: ${color.hex}`
    class=[
      color.L < 60 ? "dk" : "lt",
      color.L < 10 && "edge"
    ]
  )
    span.nano= color.hex

    block