mixin flag-list-item(flag)
  li(class=[
    flag.size.output > 10000 ? "large" : "",
    flag.isValid ? "valid" : "invalid"
  ])
    a.td0(href=`/flags/${flag.slug}`)
      +flag(flag.slug)

      .fx.mb1.aic
        h3.nano
          = flag.name.short
          small.mt
            if flag.name.other
              |  #{flag.name.other}

        code.code.nano.misa= flag.a2 || "—"
      
