extends /_/layouts/default

block body
  .pb3
    +color(locals)
      p.pb2
        | There are #{list.length} flags that use this colour.

  ul.gr6.md-gr4.sm-gr2.gap
    each id in list
      - const flag = flags[id]
      if flag
        +flag-list-item(flag)

block append head
  style
    :sass
      .color span
        font-size: 2em
        margin-block-start: 1rem