=grid($size)
  %#{$size}gr
    display: grid

  .#{$size}gr2
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr))
    @extend %#{$size}gr

  .#{$size}gr1
    grid-template-columns: repeat(auto-fit, minmax(4.5rem, 1fr))
    @extend %#{$size}gr

+grid("")

@media (max-width: $screen-md-max)
  +grid("md-")

@media (max-width: $screen-sm-max)
  +grid("sm-")
