$screen-md-max: 64rem
$screen-sm-max: 36rem

.quicklook dl
  flex-flow: wrap column

.quicklook dd
  font-size: 4rem
  line-height: 1
  text-align: right
  margin-left: -1rem

.jumpto .nano
  margin-top: 0.125rem

.colors, .jumpto, .tags
  h2
    flex: 0 0 10%

.intro p:first-child
  background: #f42a5d7a
  padding: 0.5rem
  border-radius: 2px

.ratio
  margin-block-end: -6rem
  align-items: center

  svg
    margin: 1.5rem 0 0 auto
    overflow: visible
    opacity: 0.5

  path
    vector-effect: non-scaling-stroke

@media (max-width: $screen-md-max)
  .quicklook dl > *
    width: auto

  .ratio
    display: flex
    margin-block-end: 0

    svg
      width: 80px
      height: 48px
      margin: 0 1.5rem -2px auto
      order: -1

@media (max-width: $screen-sm-max)
  .quicklook dd
    font-size: 2.5rem

  .colors, .jumpto, .tags
    display: block

  .ratio
    svg
      width: 50px
      height: 30px
      margin: 0 1rem 0 auto
