$screen-md-max: 64rem
$screen-sm-max: 36rem

.quicklook dl
  flex-flow: wrap column

.quicklook dd
  font-size: 4rem
  line-height: 1
  text-align: right
  margin-left: -1rem

.jumpto .nano
  margin-top: 0.125rem

.colors, .jumpto, .tags
  h2
    flex: 0 0 10%

.intro p:first-child
  background: #f42a5d7a
  padding: 0.5rem
  border-radius: 2px

@media (max-width: $screen-md-max)
  .quicklook dl > *
    width: auto

@media (max-width: $screen-sm-max)
  .quicklook dd
    font-size: 2.5rem

  .colors, .jumpto, .tags
    display: block
