extends /_/layouts/default

block body
  article.mb3
    :md
      ## Goals

      - High quality artwork
      - Stylistic uniformity
      - Limited visual complexity
      - Improvements to legibility

    include:md /_/notes/aspect-ratios.md
    include:md /_/notes/simplification.md
    include:md /_/notes/colours.md
