---
title: "Flags by size – flown"
---

extends /_/layouts/default

block body
  .flags.pb3
    ul.gr6.md-gr4.sm-gr2(style="gap: 1rem")
      each flag in flags.sort((a, b) => b.size.output - a.size.output)
        +flag-list-item(flag)